@model KursViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kurs Ekle</h2>
<hr />

<form asp-controller="Kurs" asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb3">
        <label asp-for="KursBaslik" class="form-label">Kurs Başlık</label>
        <input asp-for="KursBaslik" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="OgretmenId" class="form-label">Öğretmen</label>
        <select asp-for="OgretmenId" asp-items="ViewBag.Ogretmenler" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <br />

    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>
